repos:
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.12
    hooks:
      - id: terraform-fmt
      - id: shellcheck

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: mixed-line-ending
      - id: check-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-yaml
      - id: check-added-large-files


#  - repo: https://github.com/terraform-docs/terraform-docs
#    rev: "v0.16.0"
#    hooks:
#      - id: terraform-docs-go
#        args: ["markdown", "table", "--output-file", "README.md", "./"]






